{% extends 'base.html' %} {% block title %} 404 Ups!!! {% endblock %} {% block
content %}

<!--  -->

<div class="container" style="display: flex;
justify-content: center;">
  <div class="">
    <img
      src="../static/images/404.png"
      class="warbler_404"
      alt="..."
    />
    <div class="card-body" style="display: flex;
    justify-content: center;">
      <p class="text-bg-info mt-2 fs-3"  style="border-radius: 5px;" >This Warbler Name is 404!</p>
    </div>
  </div>
</div>

{% endblock %}